<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
{% block title %}
{% endblock title %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/jquery-ui/css/redmond/jquery-ui-1.8.16.custom.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}js/notifyBar/css/jquery.notifyBar.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/sermons/base.css"/>
{% endblock styles %}
{% block scripts %}
<script type="application/javascript" src="{{STATIC_URL}}js/jquery-ui/js/jquery-1.6.2.min.js"></script>
<script type="application/javascript" src="{{STATIC_URL}}js/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="application/javascript" src="{{STATIC_URL}}js/notifyBar/jquery.notifyBar.js"></script>
<script type="application/javascript" src="{{STATIC_URL}}js/sermons/base.js"></script>
{% endblock scripts %}

</head>

<body>
{% block content %}


{% endblock content %}


</body>
</html>