{% extends "base.html" %}
{% block title %}<title>Upload Sermons</title>{% endblock title %}
{% block scripts %}
{{ block.super }}
<script type="application/javascript" src="{{STATIC_URL}}js/sermons/upload.js"></script>
{% endblock scripts %}
{% block content %}
<form id="folderForm" method="post" {% if currID %}action="{% url sermons.views.editFolder id=currID %}"{% else %}action="{% url sermons.views.editFolder %}"{% endif %}>
		{% csrf_token %}
		{{ folderForm.as_p }}
		<button type='submit' class='button'>Submit</button>
</form>
{% endblock content %}